{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>contact | Washermansepot</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <div class="click-closed"></div>
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Schedule Pickup</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action="" method="POST" role="form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              {{sform.name}}
              <br>
              {{sform.email}}
              <br>
              {{sform.address}}
              <br>
              {{sform.phone}}
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Select service</label>
              {{sform.service}}
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Schedule Pickup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

 <!--/ Nav Star /-->
 <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="{% url 'index'  %}">Washermans<span class="color-b">Depot</span></a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
      data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span  class="fa fa-search" aria-hidden="true"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'  %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'drycleaning'  %}">Dry Cleaning</a>
            <a class="dropdown-item" href="{% url 'laundromat'  %}">Laundromat</a>
            <a class="dropdown-item" href="{% url 'commercial'  %}">Commercial Laundry</a>
            <a class="dropdown-item" href="{% url 'schedule'  %}">Schedule PickUp</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'price'  %}">Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact'  %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about'  %}">About Us</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
      data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span  aria-hidden="true"> Schedule PickUp</span>
    </button>
  </div>
  {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="btn btn-{{ message.tags }} btn-sm">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</nav>

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          {% for contact in contacts %}
          <div class="title-single-box">
            <h1 class="title-single">Contact US</h1>
            <span class="color-text-a text-justify">{{contact.contact_paragraph}}
              <br>
              <a href="tel:{{contact.phone_number}}" class="text-a my-5">Call Now</a> 
              </span>
              
          </div>
          {% endfor %}
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index'  %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-map box">
            <div id="map" class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.4092306573843!2d3.3501383146239108!3d6.595954195229893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b923bb01a1f01%3A0x9d894da29ff3a1b2!2s33%20Toyin%20St%2C%20Allen%2C%20Ikeja!5e0!3m2!1sen!2sng!4v1592999645484!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <form class="form-a" action="" method="POST" role="form">
                {% csrf_token %}
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="btn btn-{{ message.tags }} btn-lg">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      {{form.name}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      {{form.email}}
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      {{form.subject}}
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      {{form.message}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            {% for contact in contacts %}
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">For enquiries</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">{{contact.email}}</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+{{contact.phone_number}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      {{contact.address}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box">
                <div class="icon-box-icon">
                  <span class="ion-ios-redo"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Social networks</h4>
                  </div>
                  <div class="icon-box-content">
                    <div class="socials-footer">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="{{contact.social_fb}}" class="link-one">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{contact.social_twitter}}" class="link-one">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{contact.social_insta}}" class="link-one">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Washermans Depot</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a text-justify">
               
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email .</span> washermansdepot@gmail.com</li>
                  <li class="item-list-a">
                    <i></i> <a href="#">33, Toyin Street, beside Water-Park</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <p class="w-title-a text-brand text-center">To Schedule PickUp</p>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled text-center">
                <li class="item-list-a">
                   <a href="#">Call</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">+234-7066-718-178</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">+234-8057-131-529</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'index'  %}">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'about'  %}">About</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'price'  %}">Pricing</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'contact'  %}">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">Washermans Depot</span> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/popper/popper.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/scrollreveal/scrollreveal.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/static/contactform/contactform.js"></script>

  <!-- Main Javascript File -->
  <script src="/static/js/main.js"></script>

</body>
</html>
