{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Washermansdepot | welcome</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Schedule Pickup</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action="" method="POST" role="form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              {{sform.name}}
              <br>
              {{sform.email}}
              <br>
              {{sform.address}}
              <br>
              {{sform.phone}}
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Select service</label>
              {{sform.service}}
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Schedule Pickup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{% url 'index'  %}">Washermans<span class="color-b">Depot</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span  class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index'  %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'drycleaning'  %}">Dry Cleaning</a>
              <a class="dropdown-item" href="{% url 'laundromat'  %}">Laundromat</a>
              <a class="dropdown-item" href="{% url 'commercial'  %}">Commercial Laundry</a>
              <a class="dropdown-item" href="{% url 'schedule'  %}">Schedule PickUp</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'price'  %}">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact'  %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'  %}">About Us</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span  aria-hidden="true"> Schedule PickUp</span>
      </button>
    </div>
    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="btn btn-{{ message.tags }} btn-sm">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
  </nav>

  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      {% for image in images %}
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{image.image.url}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">  {{image.phrase_in_span}}  </span> 
                      <br>{{image.phrase}} </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex  justify-content-center">
            <div class="title-box text-center">
              <h6>Do it Faster with Our</h6>
              <h4 class="title-a "> Four Easy Steps</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        {% for step in steps %}
        <div class="col-md-3">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              
            </div>
            <div class="card-body-c">
              <h4>{{forloop.counter}}</h4>
              <span class="">
                <img src="{{step.image.url}}" alt="" width="100px"> 
                
              </span>
              <h5 class="content-c">
                <a href="#" class="link-c link-icon">{{step.label}}</a>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8 sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      {% for service in services %}
      <div id="property-carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{service.image1.url}}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{% url 'drycleaning' %}">Dry Cleaning
                      <br /> & Laundry</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <a href="{% url 'drycleaning'  %}" class="link-a">View More
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <span>Schedule</span>
                    </li>
                    <li>
                     
                      <span>PickUp</span>
                    </li>
                    <li>
                    
                      <span>Wash</span>
                    </li>
                    <li>
                      <span>Deliver</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{service.image2.url}}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{% url 'laundromat'  %}">
                      <br /> Laundromat</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <a href="{% url 'laundromat'  %}" class="link-a">View More
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <span>Wash</span>
                    </li>
                    <li>
                     
                      <span>Dry</span>
                    </li>
                    <li>
                    
                      <span>Fold</span>
                    </li>
                    <li>
                      <span>Repeat</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{service.image3.url}}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{% url 'commercial'  %}">Commercial
                      <br /> Laundary</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <a href="{% url 'commercial'  %}" class="link-a">Check Rate
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <span>Wash</span>
                    </li>
                    <li>
                     
                      <span>Dry</span>
                    </li>
                    <li>
                    
                      <span>Fold</span>
                    </li>
                    <li>
                      <span>Repeat</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{service.image4.url}}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h4 class="card-title-a">
                    <a href="{% url 'schedule'  %}">
                      <br /> Delivery & PickUp</a>
                  </h4>
                </div>
                <div class="card-body-a">
                  <a href="tel:234-7066-718-178" class="link-a">Call Now
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <span>Wash</span>
                    </li>
                    <li>
                     
                      <span>Dry</span>
                    </li>
                    <li>
                    
                      <span>Fold</span>
                    </li>
                    <li>
                      <span>Repeat</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  <section class="section-services section-8t c-all">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex  justify-content-center">
            <div class="title-box text-center">
              <h4>Why</h4>
              <h6 class="title-a cus "> Choose Us?</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center ">
        {% for cert in certs %}
        <div class="col-md-3">
          <div class="card-box-c foo c1">
            <div class="card-header-c d-flex">
              
            </div>
            <div class="card-body-c ">
              <span class="">
                <img src="{{cert.image.url}}" alt="" width="100px"> 
                
              </span>
              <h6 class="content-c ">
                <a href="#" class="link-c link-icon ">{{cert.label}}</a>
              </h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Services End /-->
  <!--/ News Star /-->
  
  <!--/ Testimonials Star /-->
  <section class="section-testimonials section-t8 nav-arrow-a ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Testimonials</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">
        {% for testimony in testimonials %}
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="{{testimony.image.url}}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    {{testimony.testimonial}}
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{testimony.mini_image.url}}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">{{testimony.name}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Testimonials End /-->

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Washermans Depot</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a text-justify">
               
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email .</span> washermansdepot@gmail.com</li>
                  <li class="item-list-a">
                    <i></i> <a href="#">33, Toyin Street, beside Water-Park</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <p class="w-title-a text-brand text-center">To Schedule PickUp</p>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled text-center">
                <li class="item-list-a">
                   <a href="#">Call</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">+234-7066-718-178</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">+234-8057-131-529</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'index'  %}">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'about'  %}">About</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'price'  %}">Pricing</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'contact'  %}">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">Washermans Depot</span> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/popper/popper.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/scrollreveal/scrollreveal.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/static/contactform/contactform.js"></script>

  <!-- Main Javascript File -->
  <script src="/static/js/main.js"></script>

</body>
</html>
